/* About Me */
#aboutme {
    grid-row: 20;
    grid-column: 1/14;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.aboutme-topics {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

#career-goals {
    grid-row: 21;
    grid-column: 3/6;
}

#current-interests {
    grid-row: 21;
    grid-column: 6/9;
}

#hobbies {
    grid-row: 21;
    grid-column: 10;
}

#career-answer {
    grid-row: 22;
    grid-column: 3/6;
    text-align: center;
}

#interests-answer {
    grid-row: 22;
    grid-column: 6/9;
    text-align: center;
}

#hobbies-answer {
    grid-row: 22;
    grid-column: 9/12;
    text-align: center;
}