/* Applications */
#applications {
    grid-row: 6;
    grid-column: 3/5;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.bullet-point {
    padding-top: 15px;
}

button a {
    text-decoration: none;
    color: #e98074;
}

/* News App */
#news-title {
    grid-row: 7;
    grid-column: 6/9;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#news-image {
    grid-row: 8/10;
    grid-column: 3/6;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    border: 1px solid black;
    padding: 4px;
}

#news-bullets {
    grid-row: 8/11;
    grid-column: 6/11;
    text-align: left;
}
/* top right bottom left */
#news-repo {
    grid-row: 9;
    grid-column: 6;
    background-color: white;
    border-color: #8e8d8a;
    border-radius: 5px;
    height: 100%;
    padding: 2.5px 0px;
}

#news-btn {
    grid-row: 9;
    grid-column: 7;
    background-color: white;
    border-color: #8e8d8a;
    border-radius: 5px;
    height: 100%;
    padding: 2.5px 0px;
}

/* Park App */
#park-title {
    grid-row: 11;
    grid-column: 6/9;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#park-image {
    grid-row: 12/14;
    grid-column: 3/6;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    border: 1px solid black;
    padding: 4px;
}

#park-bullets {
    grid-row: 12/15;
    grid-column: 6/11;
    text-align: left;
}

#park-repo {
    grid-row: 13;
    grid-column: 6;
    background-color: white;
    border-color: #8e8d8a;
    border-radius: 5px;
    height: 100%;
    padding: 2.5px 0px;
}

#park-btn {
    grid-row: 13;
    grid-column: 7;
    background-color: white;
    border-color: #8e8d8a;
    border-radius: 5px;
    height: 100%;
    padding: 2.5px 0px;
}

/* Food App */
#food-title {
    grid-row: 15;
    grid-column: 6/9;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#food-image {
    grid-row: 16/18;
    grid-column: 3/6;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    border: 1px solid black;
    padding: 4px;
}

#food-bullets {
    grid-row: 16/19;
    grid-column: 6/11;
    text-align: left;
}

#food-repo {
    grid-row: 17;
    grid-column: 6;
    background-color: white;
    border-color: #8e8d8a;
    border-radius: 5px;
    height: 100%;
    padding: 2.5px 0px;
}

#food-btn {
    grid-row: 17;
    grid-column: 7;
    background-color: white;
    border-color: #8e8d8a;
    border-radius: 5px;
    height: 100%;
    padding: 2.5px 0px;
}