/* About Me Section */
#aboutme-section {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #eae7dc;
    padding: 50px 0px;
}

#aboutme-title {
    grid-row: 1;
    grid-column: 2/15;
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    color: #e85a4f;
}

.aboutme-topics {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    align-self: center;
}

#career-goals {
    grid-row: 3;
    grid-column: 1/6;
}

#current-interests {
    grid-row: 3;
    grid-column: 6/10;
}

#hobbies {
    grid-row: 3;
    grid-column: 10/15;
}

#career-answer {
    grid-row: 4;
    grid-column: 2/5;
    text-align: center;
}

#interests-answer {
    grid-row: 4;
    grid-column: 6/10;
    text-align: center;
}

#hobbies-answer {
    grid-row: 4;
    grid-column: 11/14;
    text-align: center;
}

@media screen and (max-width: 940px) {
    #career-answer {
        grid-row: 4;
        grid-column: 2/5;
        text-align: center;
        font-size: 14px;
    }
    
    #interests-answer {
        grid-row: 4;
        grid-column: 6/10;
        text-align: center;
        font-size: 14px;
    }
    
    #hobbies-answer {
        grid-row: 4;
        grid-column: 11/14;
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width: 675px) {
    .aboutme-topics {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
    }
}

@media screen and (max-width: 550px) {
    .aboutme-topics {
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        text-decoration: underline;
    }

    #career-answer {
        grid-row: 4;
        grid-column: 2/5;
        text-align: center;
        font-size: 10px;
    }
    
    #interests-answer {
        grid-row: 4;
        grid-column: 6/10;
        text-align: center;
        font-size: 10px;
    }
    
    #hobbies-answer {
        grid-row: 4;
        grid-column: 11/14;
        text-align: center;
        font-size: 10px;
    }
}

@media screen and (max-width: 430px) {
    #aboutme-section {
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(7, 1fr);
        row-gap: 5px;
        background-color: #eae7dc;
        padding: 50px 0px;
    }
    
    #aboutme-title {
        grid-row: 1;
        grid-column: 1/15;
        text-align: center;
        align-self: center;
        font-weight: bold;
        font-size: 40px;
        color: #e85a4f;
    }

    #career-goals {
        grid-row: 2;
        grid-column: 1/15;
        text-align: center;
        align-self: flex-end;
    }
    
    #current-interests {
        grid-row: 4;
        grid-column: 1/15;
        text-align: center;
        align-self: flex-end;
    }
    
    #hobbies {
        grid-row: 6;
        grid-column: 1/15;
        text-align: center;
        align-self: flex-end;
    }

    #career-answer {
        grid-row: 3;
        grid-column: 1/15;
        text-align: center;
        align-self: flex-start;
        font-size: 10px;
    }
    
    #interests-answer {
        grid-row: 5;
        grid-column: 1/15;
        text-align: center;
        align-self: flex-start;
        font-size: 10px;
    }
    
    #hobbies-answer {
        grid-row: 7;
        grid-column: 1/15;
        text-align: center;
        align-self: flex-start;
        font-size: 10px;
    }
}