/* Background image of the website*/
body {
    background-image: url(https://melbourne-systems.s3.amazonaws.com/asset/file/4fb32d6257817e6d1d000003/placeholder-images.gif);
}


/* Adjusting the container of each webpage*/
.main {
    background-color: white;
    padding-bottom: 25px;
    padding-right: 50px;
}


/* Adjusting the Contact, Portfolio, and About Me of the navbar*/
.side-link {
    font-size: medium;
}


/* Adjusting the title of each container on each webpage*/
.title {
    font-size: xx-large;
}


/* Adjusting "Bryan Thaoxaochay" on the navbar of each page*/
.myName {
    background-color: silver;
}


/* Adjusting the footer on each page*/
.footer {
    background-color: silver;
    height: 50px;
}