body {
    background-image: url(https://melbourne-systems.s3.amazonaws.com/asset/file/4fb32d6257817e6d1d000003/placeholder-images.gif);
}

.container {
    background-color: white;
    border: 5px solid black;
    padding-bottom: 25px;
    padding-right: 50px;
}

.side-link {
    font-size: medium;
}

.title {
    font-size: xx-large;
}

.myName {
    background-color: silver;
}
